POSTGRES_DB=piivault
POSTGRES_USER=piivault
POSTGRES_PASSWORD=piivault
REDIS_PORT=6379
KAFKA_PORT=9092
APP_PORT=8080

APP_SECURITY_USERS_WRITER_PASSWORD=changeit-writer
APP_SECURITY_USERS_READER_PASSWORD=changeit-reader
APP_SECURITY_USERS_DELETE_PASSWORD=changeit-delete
APP_SECURITY_USERS_AUDITOR_PASSWORD=changeit-auditor
APP_SECURITY_USERS_TOKEN_CLIENT_PASSWORD=changeit-client
APP_SECURITY_USERS_OPERATIONS_PASSWORD=changeit-ops

APP_VAULT_CRYPTO_ACTIVE_KEY_ID=k1
APP_VAULT_CRYPTO_KEYS_K1=FMHj1sgQSUQ+Ymh16NfMptLxIIDc5/M4cSLAXF2N+4k=
APP_VAULT_CRYPTO_KEYS_K2=5oGzgVSB2OWbEFxnasmRjWaN/vg6sCRAHnh1+oqKLW0=
APP_AUDIT_INTEGRITY_KEY=ZFA9WHPcP5IOKyQ5HP3haFFkuT9p4JymQ+0Wi6+N6cs=
